.footer {
  text-align: center;
  margin-top: auto;
  /* background-color: antiquewhite; */
  background: rgb(173,12,18);
background: linear-gradient(90deg, rgba(173,12,18,0.7455357142857143) 11%, rgba(124,23,195,0.7959558823529411) 90%);
}
.piePagina {
  display: flex;
  align-items: center;
  justify-content: center;
}
.piePagina p {
  margin-right: 60px;
  color: black;
}
.piePagina img {
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 5px;
}
